In [24]:
import pandas as pd

In [27]:
#read the dataframe
df = pd.read_csv(r"C:\Users\user\Downloads\adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [30]:
num_bachelors = len(df[df["education"]=="Bachelors"])

In [31]:
num_bachelors

5355

In [33]:
total_num = len(df)

In [35]:
percentage_bachelors = round(num_bachelors/total_num*100,1)
print(percentage_bachelors)

16.4

In [28]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [7]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [22]:
average_age_men = df[df[["sex"]== "male"] ["age"].mean().round(1)
#average_age_men

AttributeError: 'float' object has no attribute 'round'

In [18]:
#percentage_bachelors_deg
#looking at the total numbers first
num_bachelors = len(df[df["education"]=="Bachelors"])
total_num = len(df)
percentage_bachelors = round(num_bachelors/total_num*100,1)

In [19]:
#percent of people with advanced eduation that earns >50k
#percent of people without advanced eduation that earns >50k
lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [2]:
#percentage with salary >50k from cell above
#checking for the count of higher education with salary >50k 
non_percentage_higher = len(higher_education[higher_education.salary==">50k"])

higher_education_rich = round(non_percentage_higher/len(higher_education)*100,1)

#checking for the count of higher education with salary >50k 
non_percentage_lower = len(lower_education[lower_education.salary==">50k"])

lower_education_rich = round(non_percentage_lower/len(lower_education)*100,1)

SyntaxError: invalid syntax (Temp/ipykernel_4612/2988640268.py, line 5)

In [ ]:
#minimum number of hours worked per week
min_work_hours = df['hours-per-week'].min()

In [ ]:
#what percentage of people who work minimum num hoursper week have a salary >50k
num_min_workers = df[df['hours-per-week']==min_work_hours]
#percentage
rich_percentage = round(len(num_min_workers[num_min_wokers.salary==">50k"])/len(num_min_workers)*100,1)

In [ ]:
#which country has the highest percentage of people that earns >50k
country_count = df['native-country'].value_counts()
country_rich-count = df[df[['salary']== ">50k"][native-count].value_counts()]
highest_country = (country_rich_count/country_count*100).idxmax()
print(highest_country)
highest_earning_country_percentage = round((country_rich_count/country_count*100).max(),1)

In [ ]:
#most popular occupation for those who earn >50k in india
people_of_india = df[(df['native-country']=="india")&(df['salary']==">50k")]
occupation_counts = people_of_india['occupation'].value-counts()
top-in_occupation= occupation_counts.idxmax()